<ion-view title="Welcome Home /Add Company Details...">
     <ion-nav-buttons side="left">
        <a class="button button-clear" ui-sref="home">back</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="logout()">Log Out</a>
    </ion-nav-buttons>
    
    
    <ion-content>
         <div class="page">             
           
            
              <h2>Welcome to <br/>{{companyInfo}}</h2>
              
               
            
         </div>
         
    </ion-content> 
</ion-view>